@font-face {
    font-family: machine;
    src: url(./fonts/ka1.ttf);
  }

  @font-face {
    font-family: human;
    src: url(./fonts/Rainbow\ Paper.woff2);
  }

  @font-face {
    font-family: title;
    src: url(./fonts/Open\ 24\ Display\ St.ttf);
  }

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    text-align: center;
    background-color:lightcyan;
}

#innerBody{
    background-color:rgb(164, 252, 164) ;
    min-height: 100vh;
    margin: 0px 20vw;
    border-left: 15px double black;
    border-right: 15px double black;
}

#title{
    font-family: 'title';
    font-size: 3vw;
    color: magenta;
    font-style: oblique;
}

#btnContainer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#challenger{
    width: 15vw;
    height: 3vw;
    font-size: 1vw;
    border-radius: 5px;
    padding-left: 3px;
    text-align: center;
}

.play{
    width: 5vw;
    height: 3vw;
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
    border-radius: 10px;
    color: magenta;
    font-weight: bolder;
    background-color: aqua;
}

.play#again{
    margin-top: 10px;
}

.play:hover{
    background-color: rgb(0, 223, 223);
}

.play:disabled{
    background-color: rgba(0, 255, 255, 0.274);
}

#choices,
#opponent{
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rps{
    width: 10vw;
    height: 8vw;
    background-color: magenta;
    color: white;
    font-size: 2.5vw;
    box-shadow: 2px 2px 8px black;
    border: 0.3vw solid rgb(255, 255, 255);
    border-radius: 20px;
    display: inline-block;
    font-family: 'human';
    
}

.rps:hover{
    background-color: rgb(255, 0, 255);
    box-shadow: 2px 2px 15px 5px rgb(0, 0, 0);
    transform: scale(1.2);
    transition: all 0.2s ease;
    font-size: 60px;
}

.rps:active{
    border: 5px solid yellow;
    transform: scale(1.5);
    font-size: 120px;
    text-align: center;
}

.rps:hover:disabled{
    transform: scale(1);
    box-shadow: 2px 2px 8px black;
    background-color: rgb(255, 0, 255);
    
}

.rps:disabled{
    background-color: rgb(255, 0, 255);
    font-size: 70px;
}

.rpsc{
    width: 10vw;
    height: 8vw;
    background-color: rgb(255, 255, 125);
    color: black;
    font-size:1.2vw;
    box-shadow: 2px 2px 8px black;
    border: 0.3vw solid black;
    border-radius: 20px;
    font-family: 'machine';
}

#container{
    margin: 30px;
    height: 5vw;
}
